.location {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: black;
    margin-top: 220px;
    margin-bottom: -150px;
}
.location__container {
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.location__title h2{
    font-size: 46px;
    font-weight: 600;
    line-height: 59.8px;
    max-width: 600px;
    color: white;
    @media screen and (max-width: 574px) {
        font-size: 30px;
        line-height: 35px;
    }
}